---
/** biome-ignore-all lint/correctness/noUnusedImports: astro */
import MarketingLayout from "@layouts/marketing.astro";
import { JumbotronSection } from "./components/jumbotron-section";
---

<MarketingLayout>
  <JumbotronSection client:load />
  <!-- <div class="flex w-full flex-col gap-6 bg-neutral-50 py-6">
    <EditorSection client:load />
    <BoardsSection client:load />
    <WidgetsSection client:load />
  </div>
  <PricingSection /> -->
</MarketingLayout>
